*/.history
*/banana-photorealistic-fruit-asset
*/*backups
*/*.lck
*/_autosave*
*.blend1
render/*.blend
render/decal.png
render/grid.png
mockup2.blend
ittypda/production
compile_commands.json
build/
.vscode/*